/* general */
::selection {
  background: rgba(5, 0, 103, 0.6); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgba(5, 0, 103, 0.6); /* Gecko Browsers */
}

body {
  font-family: "Alegreya", serif;
  background: black;
  overflow: hidden;
  color: #f8c0d9;
}

/* Height */
@media only screen and (max-height: 545px) {
  .btn-transparent {
    font-size: 1.5rem !important;
    float: left !important;
    margin: 0 0.8rem 0.3rem 0.8rem !important;
  }
}
@media only screen and (max-height: 430px) {
  .btn-transparent {
    font-size: 1.2rem !important;
  }
}

/* Width */
@media only screen and (max-width: 575px) {
  #content,
  #main-nav {
    height: 70vh !important;
  }
  #bg-crop {
    width: 100% !important;
    height: auto !important;
  }
  #bio {
    font-size: smaller !important;
  }
}

/* two main columns */
#content,
#main-nav {
  height: 100vh;
  padding: 0;
}

#main-nav {
  padding-right: 0.2rem;
}

/* #mini-nav */
#mini-nav a {
  color: #f8c0d9 !important;
}

/* canvas can stretch so handle seperately */
#webAudioCtx {
  display: none;
  width: 100%;
  height: 100%;
}

/* img content */
#duo {
  display: none;
  width: 100%;
}
#erins {
  display: none;
  height: 100%;
}

#bg-crop {
  height: 100vh;
}

/* handle fixed aspect ratio content + hide audio element */
#webAudio,
#p1080,
#ts,
#tsr,
#letters {
  display: none;
  width: auto;
  max-width: 100%;
  height: 100%;
}

/* ensure transition doesn't show the content its bumping down */
#ts,
#tsr {
  margin-bottom: 100vh;
}

/* click to pause items */
#webAudioCtx,
#p1080 {
  cursor: pointer;
}

/* clean up bootstrap nav */
.navbar,
.navbar-default,
.navbar-brand {
  margin: 0;
  padding: 0;
}

/* logos */
.home {
  border: 1px solid transparent;
  width: 100%;
  margin: 0.1rem 0 0 0.1rem;
}

.home:hover {
  border: 1px solid #f8c0d9;
  border-radius: 8px;
}

/* buttons */
.btn-transparent {
  background: transparent;
  color: #f8c0d9; /* changes all text color; important = persists through :hover */
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  border: 3px solid transparent;
  border-radius: 8px;
  font-size: 2rem;
  margin-left: 1.3vw;
  padding-left: 5px;
  padding-right: 5px;
  width: 3rem;
  text-shadow: rgb(6, 0, 103) 0 0 1px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(
    6,
    0,
    103
  ); /* needs color fallback by using text-fill if non-webkit view is messy */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome & Opera */
}
.btn-transparent:hover {
  color: rgb(6, 0, 103);
  background-color: rgba(255, 255, 255, 0.699);
  text-decoration: none;
  border: 1px solid #f8c0d9;
}
