/* general */
::selection {
  background: rgba(5, 0, 103, 0.6); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgba(5, 0, 103, 0.6); /* Gecko Browsers */
}

body {
  font-family: "Alegreya", serif;
  background: black;
  overflow: hidden;
  color: #f8c0d9;
}

/* content to hide on init */
#p1080,
#ts,
#webAudioCtx,
#webAudio,
#letters {
  display: none;
  width: 100%;
}

#p1080,
#ts,
#webAudioCtx {
  height: 100vh;
  width: auto;
}

/* stand-in img content */
#activeImg {
  width: auto;
  height: 100vh;
}

#webAudioCtx,
#p1080 {
  cursor: pointer;
}

#ts {
  margin-bottom: 100vh;
}

.home {
  border: 1px solid transparent;
  margin: 1rem 0;
  width: 100%;
}

.home:hover {
  border: 1px solid #f8c0d9;
  border-radius: 8px;
}

/* buttons */
.btn-transparent {
  background: transparent;
  color: #f8c0d9; /* changes all text color; important = persists through :hover */
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  border: 3px solid transparent;
  border-radius: 8px;
  font-size: 2rem;
  margin-left: 1.3vw;
  padding-left: 5px;
  padding-right: 5px;
  width: 3rem;
  text-shadow: rgb(6, 0, 103) 0 0 1px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(
    6,
    0,
    103
  ); /* needs color fallback by using text-fill if non-webkit view is messy */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome & Opera */
}
.btn-transparent:hover {
  color: rgb(6, 0, 103);
  background-color: rgba(255, 255, 255, 0.699);
  text-decoration: none;
  border: 1px solid #f8c0d9;
}
/* add landscape media queries to allow overflow-y on the nav */
/* Landscape */
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #main-nav {
    overflow-y: scroll;
  }
} */
